* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bord{
    border: 1px solid black;
}
:root{
    --main-color: #F5F3E7;
    --brown-border: #8B6F47;
    --text-color-2: #2E7D32;
    --bar-color: #D9D9D9;
}

nav > button{
    display: none !important;
}

section > h2{
    display: none !important;
}

section > button{
    display: none !important;
}

body{
    background-color: var(--main-color);
}

.iceland-regular{
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
    display: flex;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid var(--brown-border);
    background-color: var(--main-color);
}


header > nav > picture > img{
    display: flex;
    align-items: center;
    justify-content: left;
    height: auto;
    width: 200px;
    margin: 20px;
}

header > nav > button{
    display: none;
    border: none;
    background: black;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    width: 90px;
    height: 50px;
    margin-top: 10px;
}
header > nav > button > a{
    float: none;
    margin: auto;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;   
}
main{
    align-items: center;
    background-color: var(--main-color);

}
nav {
    text-align: center;
}

section > button{
    display: none;
}

#hero {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    height: auto;
    width: 80%;
    max-width: 1930px;
}

#hero > img{
    margin: 20px;
    width: 600px;
}

#hero > span{
    display: flex;
    align-items: center;
}
#hero > span > img{
    margin: 20px;
    width: 300px;
}

.hero-subtitle{
    font-family: "Jersey 10", sans-serif;
    color: #2E7D32;
    text-align: center;

}

span{
    display: flex;
    flex-direction: column;
}
#hero > span > h2{
    font-size: 55px;
    max-width: 600px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#hero > span > button{
    width: 160px;
    height: 60px;
    font-size: 25px;
}
.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    background: #0b646e;
    color: white;
    font-size: 18px;
    
    box-shadow: 0 0 10px #00f2ff,
                0 0 20px #00f2ff,
                0 0 40px #00f2ff;
    transition: transform 0.25s ease;
    
    animation: pulsar 1.6s infinite alternate ease-in-out;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
        box-shadow:
            0 0 10px #00f2ff,
            0 0 20px #00f2ff,
            0 0 40px #00f2ff;
    }
    100% {
        transform: scale(1.12);
        box-shadow:
            0 0 20px #00eaff,
            0 0 40px #00eaff,
            0 0 80px #00eaff,
            0 0 120px #00eaff;
    }
}

.start-button:hover{
            animation-play-state: paused;
            transform: scale(1.5);
            box-shadow:
                0 0 25px #b4e7ec,
                0 0 50px #b4e7ec,
                0 0 90px #b4e7ec,
                0 0 130px #b4e7ec;
}


.start-button > a{
    font-family: "Jersey 10", sans-serif;
    float: none;
    margin: auto;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;
}

#topic-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #E6DCC2;
    height: 110px;
    font-family: "Jersey 10", sans-serif;
}
.explore-cards{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 1px solid var(--brown-border);
}
.explore-cards > img{
    margin: 5px;
    width: 60px;
}

.explore-cards:hover{
    cursor: pointer;
    transition: 0.9s;
    transform: scale(1.2);
}
.explore-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 300px;
}
#section-explore{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.h1-explore{
    display: flex;
    text-align: center;
    font-size: 50px;
    line-height: 0.8;   
    font-family: "Jersey 10", sans-serif;
    color: #0277bd;
    margin-bottom: 10px;
}
.p-explore{
    display: flex;
    text-align: center;
    font-family: "Iceland", sans-serif;
    font-size: 20px;
}

#how-explore-gif{
    width: 300px;
    margin: 30px 20px 20px 20px;
    border: 1px solid var(--brown-border);
}
#how-explore-gif-2{
    width: 300px;
    margin: 20px;
}
.explore-text-second{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 300px;

}

.explore-1{
    display: flex;
    align-items: center;
    margin: 50px;
}

.explore-2{
    display: flex;
    align-items: center;
    margin: 50px;
}
#whats-mapu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F1EAD8;
    padding-bottom: 20px;
}
#mapu-name{
    margin: 20px;
    width: 250px;
}

.whats-mapu-p{
    width: 700px;
    text-align: center;
    font-family: "Iceland", sans-serif;
    color: var(--text-color-2);
    font-size: 25px;
    margin: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C1B497;
    justify-content: center;
}

footer > p{
    display: flex;
    margin-top: 10px;
    font-family: "Jersey 10", sans-serif;
    color: var(--text-color-2);
}
footer > span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#icon-github{
    width: 50px;
}
footer > span > a{
    font-family: "Jersey 10", sans-serif;
    color: #8B6F47;
    font-size: 20px;
}
footer > span > a:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

@media (max-width:1180px) {

    header > nav > button{
        display: flex !important;
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    
    section > span > button{
        display: none;
    }

    #hero > span > button{
        display: none;
    }

    #hero > img{
        width: 350px;
    }

    #hero > span > img{
        width: 170px;
    }

    #hero > span > h2{

        font-size: 40px;
    }

    .explore-text{
        margin-right: 10px;
    }
    .explore-text-second{
        margin-right: 50px;
    }
    .p-explore{
        width: 270px;
    }

    .whats-mapu-p{
        width: 500px;
        text-align: center;
        font-family: "Iceland", sans-serif;
        color: var(--text-color-2);
        font-size: 20px;
        margin: 10px;
    }

    footer > p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        margin-top: 10px;
        width: 500px;
        font-family: "Jersey 10", sans-serif;
        color: var(--text-color-2);
    }
}

@media (max-width:768px) {
    header{
        height: 70px;
    }

    header > nav > button{
        display: none !important;
    }

    header > nav > picture > img{
        width: 50px;
    }

    #hero {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        width: 80%;
    }
    #hero> span > img{
        width: 130px;
    }
    #hero > img{
        margin: 10px;
        width: 250px;
    }

    #hero > span > h2{
        display: none;
    }

    section > h2{
        display: flex !important;
        margin: 15px;
    }

    section > button{
        display: flex !important;
        width: 100px;
        height: 30px;
    }

    #topic-bar{
        height: 90px;
    }

    .explore-cards{
        height: 80px;
    }

    .explore-cards > img{
        height: 40px;
    }
    .explore-text-second{
        margin-right: 0px;
    }
    .explore-text-second > p{
        width: 250px !important;
    }
    .explore-text-second h1{
        width: 260px;
    }
    .p-explore{
        font-size: 20px;
    }
    #how-explore-gif{
        width: 100px;
    }
    #how-explore-gif-2{
        width: 150px;
        margin: 0px;
    }

    #mapu-name{
        width: 150px;
    }

    .whats-mapu-p{
        font-size: 15px;
        width: 300px;
    }
    footer > p{
        font-size: 20px;
        width: 200px;
    } 
    footer > span > a{
        font-size: 15px;
    }
    #icon-github{
        width: 25px;
    }
    .explore-2{
        margin: 10px;
    }
}

@media (max-width:430px) {
    .explore-cards{
        width: 50px;
       
    }
    .explore-cards > img{
        border-radius: 20px;
    }
    .explore-cards > p{
        width: 55px;
        border: 1px solid black;
        font-size: 10px;
        text-align: center;
    }
    .explore-2 > span > p{
        width: 101px !important;
        
    }
    .explore-text{
        width: 100px;
    }
    .explore-text-second{
        width: 100px;
    }
    .h1-explore{
        font-size: 25px;
    }
    .p-explore{
        text-align: center;
        font-size: 10px;
        width: 150px;
    }
    #how-explore-gif{
        width: 100px;
        margin: 30px 20px 20px 20px;
        border: 1px solid var(--brown-border);
    }
    #how-explore-gif-2{
        width: 100px;
        margin: 20px;
    }
    .whats-mapu-p{
        width: 210px;
        font-size: 20px;
        margin: 10px;
    }

}