:root{
    --main-color: #F5F3E7;
    --brown-border: #8B6F47;
    --text-color-2: #2E7D32;
    --bar-color: #D9D9D9;
}
* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--main-color);
}
header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header > h3{
    font-size: 50px;
    margin: 10px;
    font-family: "Jersey 10", sans-serif;
    color: var(--text-color-2);
}

main {
    display: grid;
    grid-template-columns: repeat(2, 185px);
    grid-template-rows: repeat(2, 185px);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-top: 5vh;
}

.cards {
    background-color: white;
    border: 1px solid var(--brown-border);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    
}

.cards img {
    width: 80px;
    height: auto;
}


.cards p {
    font-family: "Iceland", sans-serif;
    font-size: 25px;
}

.cards:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

@media (max-width: 800px) {

    *{
        max-width: 100%;
    }

    header > h3{
        margin-bottom: 50px;
    }

    main{
        margin: auto;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(2, 170px);
    }
}

@media (max-width: 440px) {

    main{
        margin: auto;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(2, 120px);
    }   
    header{
        text-align: center;
    }
    .cards img{
        width: 75px;
    }
    .cards p{
        font-size: 15px;
    }
}
